# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://hqddxjxggumyjeoivdgk.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_JpSzrgQq4vFZoHqHi9AWcA_oxWva2xI

# Optional: Supabase service role key (server-side only, never expose to client)
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
